* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    transition: opacity .5s;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.left {
    width: 20%;
    background-color: #abddfd;
    color: rgb(0, 0, 0);
    padding: 40px;
    padding-right: 40px;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left::after {
    content: '';
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    right: 0;
    width: 1px;
    background-color: rgb(32, 39, 41);
}

.nav {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin: 0;
}

.right {
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #abddfd;
    padding-left: 40px;
}

.section {
    margin-top: 10%;
    height: 100vh;
    display: block;
    align-items: center;
    color: rgb(0, 0, 0);
}

.links {
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    color: rgb(0, 0, 0);
}
.label {
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.label:hover {
    opacity: 1;
}

.label.active {
    opacity: 1;
    font-weight: bold;
    transform: translateX(10px);
}

.label:visited {
    color: black;
    text-decoration: none;
}

.title {
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 0;
    vertical-align: top;
}

.about{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-start: 0em;
    margin-inline-end: 2em;
    font-size: 18px;
}

/* experience */
.experience-group{
    align-content: center;
}

.single-experience {
    display: flex;
    gap: 4em;
    align-items: flex-start;
    font-size: 22px;
}

.experience-date{
    text-align: left;
    white-space: nowrap;
    width: 250px;
    height: 25px;
}

.role{
    text-align: left;
    width:750px;
    height:200px;
}

.role-summary{
    font-size: 17px;
    display: block;
    padding-top: .75em;
    padding-right: 3em;
}

.role-skills{
    font-size: 14px;
    padding-top: .75em;
    white-space: nowrap;
}

/* projects */

.project-object{
    padding-bottom: .5em;
}
.project{
    font-size: 24px;
}

.project-description{
    font-size: 16px;
    width: 800px;
}

.extra-information{
    font-size: 12px;
}

/* amateur hour -- photos -- followed w3school tutorial */
.section-title{
    font-size: 36px;
    white-space: nowrap;
    padding-bottom: .5em;
}

