* { /* Reset the space of the webpage */
    margin: 0em;
    padding: 0em;
}
html{
    background-color:#18314F;

}

.logo {
    float: left;  
    color:rgb(235, 235, 238);
    font-size: 1em;
   margin: 2em;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 15px;
}


nav {
    background:#18314F;
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height:8vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: sticky;
}
  
.nav-links {
    display:flex;
    justify-content: space-around;
    width: 30%;
    list-style-type:none;
    margin:1vw;
    font-size:3em;
    color: white;
}

.nav-links a{
    list-style: none;
    color:white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
}

.nav-links li {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:2vh;
   
}

nav a:hover{
    background-color: #ffffff;
    color:#45588b;
    border-style: solid;
    border-width: 2px;
    border-color:#d6d6d6;
    padding: .50em;
    margin: .50em;
    font-weight:bold;

}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 30px;
    height:3px;
    background-color:rgb(211, 211, 211);
    margin: 5px;
}

/*LAYOUT FOR PHONE*/
@media only screen and (max-width:760px) {
   body{
       overflow-x: hidden;
   }
    .nav-links{
       position:absolute;
        right: 0px;
        height: 50vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        position:fixed;
   }
   .nav-links li{
       color: white;
   }
   .burger{
       display: block;
   }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);

    }
}


#messageText{
    /*helps position the text*/
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 3vh;
    padding-right:3vh;
    color: #ffffff;
    font-size: 13vh;
    margin-top:.1em;
    margin-bottom:1em;
}


/*Headings and TEXT*/

.miniTitles{
    text-align: center;
    font-size: 2em;
    margin-top: 4%;
    padding:3%;
    color:#ffffff;
}

.normalText{
    margin-top:0;
    margin-bottom:5%;;
    margin-left:10%;
    margin-right:10%;
    font-size: 1.5em;
    text-align:center;
    color:#ffffff;
}

.List{
    color: white;
    text-align: center;
    font-size: 1em;
    padding-bottom: 2em;
}