/*PLANNED COLORS FOR THE WEBSITE:
    A1CCA5, 8FB996, 709775, 415D43 , 111D13 (these are all greens)
CAN CHANGE*/

body {
    background-color: #132516; 
    color:white;
    font-family:'Lucida Sans Unicode';
    text-align: center;
}
